@charset "UTF-8";

@media (max-width: 600px) {
    body{
        font-size: 12px;
        grid-template-areas: 
            "he he he"
            "le le le"
            "ma ma ma"
            "ri fo fo";
    }

    #huvudtext{
        font-size: 14px;
    }

    #lefttext{
        display: none;
    }

    #right{
        width: 102px;
    }

    #right img{
        width: 100px;
        padding: 0;
        margin: 0;
    }
    
    figure{
        width: 100px;
        height: 83px;
        margin: 0;
        border: thin white solid;
    }
    
    figcaption{
        width: 100px;
        text-align: center;
    }
}

body{
    background-color: black;
    color: white;
    font-family: "vcr osd mono";
    height: 1vh;
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-areas: 
        "he he he he"
        "le ma ma ri"
        "le ma ma ri"
        "fo fo fo fo";
}

header{
    grid-area: he;
    padding: 10px;
    position: relative;
    border: 5px solid white;
}

header h1{
    text-align: center;
    letter-spacing: 5px;
    margin: 0;
}

header p{
    font-size: 6px;
    text-align: center;
    color: rgb(30, 30, 30);
    margin: 0;
}

#right, #maintext, #left, #bottom, footer{
    padding: 5px;
    border: 5px solid white;
}

#right p, #maintext p, #left p, #bottom p, footer p{
    margin: 0;
}

#right{
    grid-area: ri;
    border-style: none solid;
    display: grid;
}

#right img{
    max-width: 200px;
    padding: 0;
    margin: 0;
}

figure{
    max-height: 150px;
    margin: 0;
    border: thin white solid;
}

figcaption{
    text-align: center;
}

#left nav a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 25px;
    margin: 5px;
    padding: 10px 0 0 0;
    border: 5px solid white;    
}

#left nav a:hover{
    color: red;
    border: 5px solid red;
}

#maintext{
    grid-area: ma;
    border-style: none;
}

#left, #right{
    max-width: 200px;
}

#left{
    grid-area: le;
    border-style: none solid;
}

#left h3{
    margin: 0;
}

#bottom a{
    margin: 5px;
    width: 138px;
    height: 138px;
    filter: grayscale(100%);
}

#bottom a:hover{
    filter: grayscale(0%);

}

footer{
    grid-area: fo;
    position: fixed relative;
    border-bottom: 5px solid white;
    max-height: 100px;
}